:root{
    --main-font: 'Roboto';
    --accent-font: 'Raleway';
    --normal-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, 
body{
    height: 100%;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
 ul,
 li{
    list-style: none;
 }
 button{
    border: none;
 }
 section{
    padding: 94px 0;
 }
 
 /* page */
.page {
    background-color: #FFFFFF;
    color: var(--normal-text-color);
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.9;
    font-style: normal;
}
/* header */
header .row{
    height: 80px;
}
.row,
header nav,
.site-nav,
.contacts{
    display: flex;
}
header .row,
.features .row,
.interests .row,
.team .row{
    justify-content: space-between;
}
header{
    border-bottom: 1px solid #ECECEC;
}

/* logo */
.logo{
    color: #000;
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 80px;
    letter-spacing: 0.03em;
    margin-right: 93px;
    
}
.logoweb{
    color: var(--accent-color);
}

/* site-nav */
.link{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 80px;
    letter-spacing: 0.02em;
    margin-right: 50px;
}
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--accent-color);
}
/* contacts */
.contacts{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 80px;
    letter-spacing: 0.02em;
    margin-left: 50px;
}
.contacts .link{
    color: var(--normal-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}
/* psevdoelements */
.contacts li::before{
    content: "";
    display: inline-block;
    margin-right: 10px;
}

.contacts li:first-child::before{
    background-image: url(../images/icons/contacts/mail.svg);
    width: 16px;
    height: 12px;
}
.contacts li:last-child::before{
    background-image: url(../images/icons/contacts/smartphone.svg);
    width: 10px;
    height: 16px;
}
/* hero */
.hero{
    background-color: #2F303A;
    padding: 160px 0 240px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .title{
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 700px;
    margin-bottom: 30px;
}
.hero .button{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}
.hero .button:hover{
    background: #147fd6;
}
/* section */
.hiden{
    overflow: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.conteiner{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/* features */
.features{
    padding: 94px 0;
}
.section-pb0{
    padding-bottom: 0px;
}
.features-title{
    color: var(--title-text-color);
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.features-text{
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--normal-text-color);
}
.features-box{
    width: calc((100%-90px) / 4);
    width: 270px;
}
/* interests */
.interests{
    padding-bottom: 94px;
}
.interests .title{
    color: var(--title-text-color);
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.interests-list,
.team-list{
    display: flex;
    justify-content: space-between;
}
.interests-box{
    width: calc((100%-90px) / 3);
    width: 370px;
}
/* team */
.team{
    background-color: #F5F4FA;
}
.team .title{
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    padding-bottom: 50px;
}
.card{
    width: calc((100%-90px) / 4);
    width: 270px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team .employee{
    color: var(--title-text-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 30px 0 10px 0;
}
.team .position{
    color: var(--normal-text-color);
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    
    
}
.icon-list{
    display: flex;
    
    margin: 0 auto;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 30px;
    border-radius: 50%;
}
.networks:not(:last-child){
    margin-right: 10px;
}
.networks{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
}
.networks:hover,
.networks:focus{
    cursor: pointer;
    background-color: var(--accent-color);
    border-radius: 50%;
    fill: #FFFFFF;
}
.networks-icon{
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}
.networks-icon:hover{
    fill: #FFFFFF;
}

/* footer */
.footer{
    background-color: #2F303A;
    padding: 60px 0;
}
.footer-box{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.footer .logo{
    margin-bottom: 20px;
    display: inline-block;
    line-height: 35.96px;
    margin-right: 0px;
}
.adress-text{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer .link{
    color: rgba(255, 255, 255, 0.6);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer .logo{
    color: #FFFFFF; 
}



/* PORTFOLIO */
.portfolio-conteiner{
    padding: 94px 15px;
    width: 1200px;
    margin: 0 auto;
}
.tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-buttons{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    margin-right: 8px;
}
.portfolio-buttons.active{
    background-color: var(--accent-color);
    color: #FFFFFF;
}
/* projects */
.projects{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.projects-card{
    border: 1px solid #EEEEEE;
    margin-bottom: 30px;
}
.card-info{
    padding: 20px 24px;
}
.card-title{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.card-text{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--normal-text-color);
}
